---
import { renderRichText, storyblokEditable } from '@storyblok/astro';
import instagramLogo from '../assets/instagram-logo-gradient.svg';
import PageTitle from './PageTitle.astro';

const { blok } = Astro.props;

const {
  image, description, instagramLink, tags,
} = blok;

const htmlDescription = renderRichText(description);
---

<div {...storyblokEditable(blok)}>
  <PageTitle blok={blok} />

  <div class='img-container'>
    <img src={image.filename} />
  </div>

  {!!instagramLink && !!instagramLink.url && (
    <div class='ig-link-container'>
      <a href={instagramLink.url} class='instagram-link' target='_blank' rel='noreferrer'>See this content on Instagram</a>
      <img src={instagramLogo.src} class='instagram-logo' />
    </div>
  )}

  <div class='main-text'>
    <Fragment set:html={htmlDescription} />
  </div>

  {!!tags && (
    <p class='tags-list'>Tags:
    <span class='tags-colour'>
      {tags.map((t) => `#${t.tagName.replaceAll(/#/ig, '')}`).join(', ')}
    </span>
    </p>
  )}
</div>

<style>
  .img-container {
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .img-container > img {
    max-height: 60vh;
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
  }
  .ig-link-container {
    margin-bottom: 30px;
    font-size: 14px;
  }
  .instagram-logo {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
  .instagram-link {
    text-decoration: none;
    color: inherit;
  }
  .instagram-link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .tags-list {
    margin-top: 50px;
    font-size: 14px;
  }
  .tags-colour {
    color: #888;
  }

  @media only screen and (max-width: 600px) {
    .ig-link-container {
      font-size: 12px;
    }
  }
</style>
