---
import { renderRichText, storyblokEditable } from '@storyblok/astro';
import instagramLogo from '../assets/instagram-logo-gradient.svg';
import PageTitle from './PageTitle.astro';
import Tag from './Tag.astro';

const { blok } = Astro.props;

const {
  image, description, instagramLink, tags
} = blok;

console.log(tags);
const htmlDescription = renderRichText(description);
---

<div {...storyblokEditable(blok)}>
  <PageTitle blok={blok} />

  <div class='img-container'>
    <img src={image.filename} />
  </div>

  {!!instagramLink && !!instagramLink.url && (
    <a href={instagramLink.url} class='instagram-link' target='_blank' rel='noreferrer'>See this content on Instagram</a>
    <img src={instagramLogo} class='instagram-logo' />
  )}

  <Fragment set:html={htmlDescription} />

  {!!tags && tags.map((tag) => (
    <Tag key={tag.tagName} blok={tag} />
  ))}
</div>

<style>
  .img-container {
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .img-container > img {
    max-height: 60vh;
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
  }
  .instagram-logo {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
  .instagram-link {
    text-decoration: none;
    color: inherit;
  }
  .instagram-link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
</style>
