---
import { useStoryblokApi  } from '@storyblok/astro';
import socials from '../util/socials';
import instagramLogo from '../assets/instagram-logo-black.svg';

const storyblokApi = useStoryblokApi();

const date = new Date();
const year = date.getFullYear();

const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.CONTENT_VERSION,
  content_type: 'page',
});

const { stories: pages } = data;

const socialsIcons = {
  Instagram: instagramLogo.src,
};

---

<footer>
  <ul>
    <li><a href='/'>Home</a></li>
    {pages?.filter((p) => p.name !== 'Home').map((page) => (
      <li><a href={`/${page.slug}`}>{page.name}</a></li>
    ))}
  </ul>

  <ul>
    {socials?.map((social) => (
      <li>
        <a href={social.url}>
          <img src={socialsIcons[social.name]} alt={`${social.name} logo`} class='socials-logo' />
        </a>
      </li>
    ))}
  </ul>

  <p class='copyright'>&#169; {year} Virginia Vidonis Art</p>
</footer>

<style>
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* padding: 20px 5px 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer > * {
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    display: flex;
  }
  li {
    font-size: 16px;
    margin-right: 25px;
  }
  .socials-logo {
    width: 34px;
    height: 34px;
  }
  .copyright {
    font-size: 14px;
  }
</style>
